# Base Framework
streamlit

# LangChain Stack (Let pip resolve the versions)
langchain
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-text-splitters
langchain-classic

# Vector DB & AI
pinecone[grpc]
groq
sentence-transformers
transformers
torchvision
googleapis-common-protos

# Data & Utils
pypdf
pandas
numpy
python-dotenv
pydantic
protobuf==3.20.3
