# Base Framework
streamlit

# LangChain Stack (Let pip resolve the versions)
langchain
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-text-splitters
langchain-classic

# Vector DB & AI
groq
sentence-transformers
transformers
torchvision


# Data & Utils
pypdf
pandas
numpy
python-dotenv
pydantic

# Use a v4 version that satisfies Pinecone and avoids the v5 crash
protobuf

# Use a stable Pinecone version
pinecone[grpc]==7.0.2

# Include the missing common protos
googleapis-common-protos
pinecone-plugin-interface

