# Base Framework
streamlit

# LangChain Stack
langchain
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-text-splitters

# Vector DB & AI
groq
sentence-transformers
transformers
torchvision

# Data & Utils
pypdf
pymupdf
pandas
numpy
python-dotenv
pydantic

# Pinecone - REST only (no gRPC)
pinecone==7.0.2
pinecone-plugin-interface

# Protobuf pinned for stability
protobuf==4.25.5
googleapis-common-protos==1.63.2
